extends includes/layout

block content
  .card-content
    .level.has-text-centered
      .level-item
        div
          p.heading=config.description
          h1.is-1.title.has-text-dark="amaurytq"
    .field.is-grouped.is-grouped-multiline
      each tag in site.tags.toArray()
        .control
          .tags.has-addons
            span.tag.is-rounded.is-dark=tag.posts.length
            a.tag.is-rounded.is-link(href=config.root + tag.path)=tag.name
    br
    .content.has-text-centered
      each post in site.posts.sort('date', -1).toArray()
        .archive-item
          div
            a(href=url_for(post.path))=post.title