- var pageTitle = page.title || config.subtitle || ''

<!DOCTYPE html>
html(class="has-navbar-fixed-bottom", lang=config.language)
  head
    meta(charset='UTF-8')
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title= pageTitle
    
    link(rel="icon", href=config.root + 'images/favicon.ico')
    link(rel="stylesheet", href=config.root + 'css/main.css')
    link(rel="stylesheet", href=config.root + 'css/bulma.min.css')
    link(rel="stylesheet", href=config.root + 'css/fa/css/all.css')
  body
    include navbar.pug
    .hero.is-dark.is-fullheight-with-navbar
      .hero-body
        if is_home() || is_tag()
          block content
        if is_post()
          .columns
            .column.is-9
              block content
            .column.is-3
              include aside.pug
        if is_archive()