nav.navbar.is-fixed-bottom.is-dark
  .container
    .navbar-brand
      a.navbar-item.Eight_One(href=config.root) &lt;ary/&gt;
      a.navbar-item(href=theme.github, target="_blank", rel="noreferrer")
        span.icon
          i.fab.fa-github
      a.navbar-item(rel="me" href=theme.mastodon target="_blank")
        span.icon
          i.fab.fa-mastodon
      a.navbar-item(href=theme.twitter, target="_blank", rel="noreferrer")
        span.icon
          i.fab.fa-twitter
      a.navbar-item(href=config.root + 'atom.xml')
        span.icon
          i.fas.fa-rss